.btn {
  display: inline-block;
  padding: 5px 8px;
  border: 0;
  transition: all .1s;

  &_default {
    border: 1px solid $light-grey;
    border-radius: 2px;
    background: $background-color;
    color: white;
  }

  &_default {
    &:active {
      box-shadow: inset 0px 0px 2px #000000;
    }
  }
}