.posts {
  margin: 0 -25px;

  .posts-list {
    max-width: $content-width;
    margin: 0 auto;

    &--one {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2px;
      display: grid;

      .post-top {
        margin-bottom: 0;
      }
    }

    &--three {
      grid-gap: 3px;
      display: grid;

      .post-top {
        margin-bottom: 0;
      }
    }
  }
}

.post {
  max-width: 600px;

  &-item {
    margin-bottom: 0;
  }

  &-top {
    margin-bottom: 30px;

    .post-image {
      width: 100%;
      padding-bottom: 10px;
    }

    .post-body {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &-content {
    padding: 0 15px 15px;

    &--description {
      padding-bottom: 10px;
    }

    hr {
      background: $hr-basic;
      height: 2px;
      border: none;
    }
  }

  .post-add-comment {
    padding: 0 15px 15px;
    .form_comment {
      display: grid;
      grid-template-columns: calc(100% - 100px) 100px;

      &--send,
      &--area {
        width: 100%;
        padding: 1em 16px;
        box-sizing: border-box;
      }

      &--area {
        border: 1px solid $form-border;
        border-radius: 7px;
        color: $form-color;

        &:focus {
          outline: none;
        }
      }

      &--send {
        color: $button-blue-bg;
        border: none;
        background: none;
      }
    }
  }
}