
// -------------------- VARIABLES --------------------
// BASE
// COMPONENTS
// PAGES



// -------------------- BASE --------------------
// Basic colors
$background-color: #FAFAFA;
$very-light-grey:  #EDEDED;
$light-grey:       #CCCCCC;
$mid-grey:         #999999;
$dark-grey:        #666666;
$very-dark-grey:   #333333;
$text-color:       #222222;
$brand-color:      #6CC0E5;
$dark-brand-color: #41ADDD;

$base-link-color: #666;
$base-text-color: rgba(0, 0, 0, .8);
$base-background-color: white;
$base-font-size: 14px;
$base-line-height: 1.2;
$base-font-family: "Open Sans", Arial;
$base-min-width: 320px;
$base-input-border-color: rgba(0, 0, 0, .8);
$base-form-text-color: rgba(0, 0, 0, .8);

// Sizes
$desktop-size:  1024px;
$tablet-size:   768px;
$mobile-size:   564px;
$content-width: 600px; // max-width for content

// Buttons
$button-blue-bg: #3897f0;

// Typography
$hr-basic: rgba(0, 0, 0, .1);
$font-light-color: rgba(0, 0, 0, .5);

// Fonts
$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;
$serif-font-stack: Georgia, Times, 'Times New Roman', serif;
$font-tiny:      10px;
$font-small:     12px;
$font-x-small:   14px;
$font-xx-small:  16px;
$font-medium:    20px;
$font-x-medium:  24px;
$font-large:     30px;
$font-x-large:   32px;




// -------------------- COMPOENENTS --------------------

// Form
$form-border: rgba(148, 136, 136, .3);
$form-color:  rgba(102, 102, 102, .8);
$form-err:    rgba(255, 0, 0, .6);

// Header
$nav-height:           3.5em;
$site-header-bg:     rgba(248, 248, 255, 1);
$site-header-shadow: rgba(0, 0, 0, .4);

// Footer
$footer-bg:     #ffffff;
$footer-color:  #999999;
$footer-shadow: rgba(0, 0, 0, .4);




// -------------------- PAGES --------------------

// 404 
$notFound1: rgba(255, 0, 0, .6);
$notFound2: #fafafa;
$notFound3: #6CC0E5;