@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.post-slider {
  &--item {
    outline: none;

    img {
      width: 100%;
    }
  }

  .slick {
    &-prev {
      left: 25px;
      z-index: 1;
    }

    &-next {
      right: 25px;
    }

    &-dots {
      li {
        margin: 0;
      }

      li button:before {
        font-size: 10px;
      }
    }
  }
}