.follow-button-wrap {
  button {
    padding: .5em 3em;
    border: 1px solid $form-border;
    border-radius: 3px;
    font-weight: 600;
    min-width: 180px;
  }

  .follow-button {
    background: none;
  }

  .unfollow-button {
    background: $button-blue-bg;
    border-color: $button-blue-bg;
    color: white;
    font-weight: normal;
  }
}


@media (max-width: 400px) {
  .follow-button-wrap {
    button {
      min-width: 150px;
    }
  }
}