.notFoud {
  background-color: $notFound2; 
  position: relative;
}

.notFoud--inner {
  position: absolute;
  top: 75%;
  right: 50%;
  transform: translate(50%, 25%);
  width: 75%;
  min-width: 250px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 6em;
  font-weight: 700;
  color: $notFound1;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: $notFound3;
  margin-bottom: 20px;
}

.notFoud-buttons {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  
  .notFoud-button {
    font-weight: 700;
    border: 2px solid $notFound1;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: $notFound1;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      background-color: $notFound1;
      color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}

@media (max-width: 500px) {
  .notFoud--inner {
    max-width: 100%;
  }
}