.post-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 15px;

  &--left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      border-radius: 100%;
      margin-right: 10px;
    }
  }

  &--right {
    display: flex;
    align-items: center;
  }

  .comment-icon-wrap {
    z-index: 1;
  
    img {
      width: 30px;
      height: auto;
    }  
  }
}