.form_default {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0 0;
}

.form_default h3 {
  color: $dark-grey;
  margin-bottom: 30px;
}

.form_default .btn {
  float: left;
  margin: 20px 16px;
  padding: 15px 30px;
  background: $button-blue-bg;
}

.form-page__form-wrapper {
  display: block;
  width: 100%;
  border: 1px solid $form-border;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form-err {
  color: $form-err;
  position: absolute;
  top: 15px;
  right: 0;
}

.form__field-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid $very-light-grey;
  border-bottom: 1px solid $very-light-grey;
  background-color: #fff;
}

.form__field-wrapper + .form__field-wrapper {
  border-top: none;
}

.form__field-input:focus ~ .form__field-label {
  color: $dark-grey;
  background-color: $very-light-grey;
}

.form__field-input:focus {
  background-color: $very-light-grey;
  color: $very-dark-grey;
}

.form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  text-align: left;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: $mid-grey;
  font-weight: 400;
  user-select: none;
  cursor: text;
  box-sizing: border-box;
}

.form__field-input {
  box-sizing: border-box;
  position: relative;
  padding: 1.625em 16px;
  width: 100%;
  color: $dark-grey;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}

.btn_login {
  float: left;
  margin: 20px 16px;
  padding: 15px 30px;
  background: $button-blue-bg;
  color: #fff;
}