.user-page {
  .post-top .post-image {
    padding: 0;
  }
}

// profile styles
.user-page-profile {
  max-width: $content-width;
  margin: 0 auto;

  &--inner {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: minmax(80px, 130px) auto;
  }

  &--image {
    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  &--description {
    text-align: left;
    padding-left: 15px;
    max-width: 300px;

    .profile-description {
      color: $font-light-color;
    }
  }

  hr {
    background: $hr-basic;
    height: 2px;
    border: none;
  }
}

@media (max-width: 500px) {
  .user-page-profile--description {
    .profile-description {
      font-size: $font-small;
    }
  }
}

// switch buttons of view posts on User page
.full-view {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  max-width: $content-width;
  margin: 0 auto;

  div {
    width: 27px;
    height: 3px;
    background-color: $font-light-color;
    margin: 7px 0;
    border-radius: 2px;
  }

  &--one {
    transform: rotate(90deg);
  }
}