@import 'utils/_main';
@import 'vendor/_main';

.mainContainer {
  min-height: calc(100vh - 100px);
  padding: 30px 20px;
  margin-top: 80px;
}

.page-name {
  color: rgba(0, 0, 0, .6);
  font-weight: 100;
  text-align: center;
}