.like-button {
  display: flex;
  padding: 0;
  // margin-right: -5px;
  width: 40px;
  margin: 0 auto;
  justify-content: center;

  img {
    width: auto;
    height: 30px;
  }
  
  .liked {
    padding: 0 13px; 
  }
  
  .unliked {
  }
}