$header-bg: rgba(248, 248, 255, 1);
$header-color: #666;

.site-header {
  position: fixed;
  top: 0;
  margin: 0 auto 5px;
  width: 100%;
  height: 80px;
  background-color: $site-header-bg;
  box-shadow: 0 0 8px $site-header-shadow;
  z-index: 2;

  &--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: $tablet-size;
    padding: 0 20px;
    margin: 0 auto;
  }

  img {
    width: 40px;
    height: 40px;
  }

  .site-menu {
    display: flex;
  }

  .header-menu {
    padding: 0 20px;

    &-icon {
      display: flex;
      align-items: center;
      text-decoration: none;
      position: relative;

      &-list {
        position: absolute;
        right: 100%;
        display: flex;
        opacity: 0;
        transform: translate(20px);
        transition: .3s;

        li {
          margin: 0 8px;
          
          a {
            white-space: nowrap;
            transition: .3s;
            
            &:hover {
              text-decoration: none;
              opacity: .5;
            }
          }
        }
      }

      &:hover {
        .header-menu-icon-list {
          transform: translate(0);
          opacity: 1;
        }
      }
    }
  }
}