.footer {
	height: 25px;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background: $footer-bg;
	box-shadow: 0 0 8px $footer-shadow;
	display: grid;
	align-items: center;
	z-index: 2;

	&--inner {
		position: relative;

		a {
			position: absolute;
			bottom: 40px;
			right: 25px;    

			img {
				height: 50px;
				width: 50px;
				transform: rotate(90deg);
				transition-duration: .5s;

				&:hover {
					transform: rotate(-90deg);
				}
			}
		}
	}

	&-caption {
		color: $footer-color;
	}
}

@media (max-width: 700px) {
	.footer {
		&--inner {
			a {
				bottom: 35px;
				right: 20px;
			}
		}
	}
}